# config/.env.example
# Exemplo de configuração para o ambiente de testes OCPP
# Copie este arquivo para .env e ajuste os valores conforme necessário

#=======================================================================================
#									GENERAl
#=======================================================================================

# URL base do websocket do servidor SteVe (sem station_id)
WS_URL=ws://localhost:8080/steve/websocket/CentralSystemService/

# Fator pelo qual o tempo é multiplicado durante a simulação  de transferência de energia.
TIME_SCALE=10

#=======================================================================================
#									CHARGE POINT
#=======================================================================================

#		*****	REQUIRED	****	

STATION_ID=CP_1								# Identificador do posto (Charge Point)
CHARGE_POINT_MODEL=Optimus					# Modelo do posto (Charge Point)
CHARGE_POINT_VENDOR=The_Mobility_House		# Fabricante do posto (Charge Point)

#		*****	OPTIONAL	****	

CHARGE_POINT_SERIAL_NUMBER=CP-001
FIRMWARE_VERSION=0.0.1

#=======================================================================================
#									VEHICLE
#=======================================================================================

#		*****	REQUIRED	****	

ID_TAG=CARD123								# Identificador do veículo 

#=======================================================================================
#								CONFIGURATION KEYS
#=======================================================================================

#		*****	REQUIRED	****	

HEARTBEAT_INTERVAL=60						# Intervalo entre heartbeats (em segundos)
CONNECTION_TIMEOUT=30						# Timeout para estabelecer conexão websocket (segundos)
RESET_RETRIES=50							# Número máximo de tentativas de reconexão

#=======================================================================================
#									OUTROS
#=======================================================================================

BASE_DELAY=5.0								# Atraso base para backoff (segundos)
RESPONSE_TIMEOUT=30							# Timeout para aguardar resposta a chamadas OCPP (segundos)
CONNECTORS_QTY=2							# Número de conectores da estação de recarga